<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>Good and Evil</title>
	<link rel="stylesheet" href="css/bootstrap.css">
</head>	

<body>

	<div class="container">
		<div class="row">	

			<div class="col">
			<blockquote class="blockquote mt-5 mb-5">
				“If only it were all so simple! If only there were evil people somewhere insidiously committing evil deeds, and it were necessary only to separate them from the rest of us and destroy them. But the line dividing good and evil cuts through the heart of every human being. And who is willing to destroy a piece of his own heart?”
				<footer class="blockquote-footer">Aleksandr Solzhenitsyn in <cite title="Source Title">The Gulag Archipelago 1918-1956</cite></footer>
			</blockquote>		
			</div>

		</div>
	</div> <!-- CONTAINER --> 

	{{{ body }}}

</body>

</html>
