	<div class="container">
		<div class="row">	

																												<!-- CONFIG --> 
			<div class="col-sm-6 col-md-4">
			<form action="/update" class="border border-right-0 border-left-0 mb-3" method="post" disabled>
				<fieldset>
					<legend>Config Corner</legend>
					<div class="form-group">
						<div class="form-check form-check-inline">
							<label class="form-check-label">
								<input type="radio" class="form-check-input" name="goodEvilChoice" value="good"> Good
							</label>
						</div>
						<div class="form-check form-check-inline">
							<label class="form-check-label">
								<input type="radio" class="form-check-input" name="goodEvilChoice" value="evil"> Evil
							</label>
						</div>
					</div>
																					<!-- COOKIE --> 
					<div class="form-group">
						<input type="text" class="form-control form-control" name="cookieChoice" id="foodChoice" placeholder="Favorite cookie?"> 
					</div>
																					<!-- COLOR --> 
					<div class="form-group">
						<select id="colorChoice" name="colorChoice" class="form-control form-control">
							<option selected>Favorite color?</option>
							<option value="bg-primary">Blue</option>
							<option value="bg-secondary">Dark Gray</option>
							<option value="bg-success">Green</option>
							<option value="bg-danger">Red</option>
							<option value="bg-warning">Orange</option>
							<option value="bg-info">Turquoise</option>
							<option value="bg-light">Light gray</option>
							<option value="bg-white">White</option>
						</select>
					</div>
																					<!-- SUBMIT --> 
					<div class="form-group">
						<input type="submit" class="btn btn-primary btn" id="submitButton" value="Submit">
					</div>			    
				</fieldset>
			</form>
			</div>
																												<!-- PICTURE --> 
			<div class="col-sm-4 col-md-5 mb-3">
				<img id="goodEvil-image" src="./images/{{ choice }}" class= "img-fluid rounded border">
			</div>

																												<!-- CARD --> 
			<div class="col-sm-5 col-md-3 mb-3">
				<div class="card">
					<div id="goodEvil-color" class="card-header {{ color }}">
						Value stored in a cookie
					</div>
					<div class="card-body">
						<h4 id="goodEvil-question" class="card-title">Favorite cookie?</h4>
						<p id="goodEvil-answer" class="card-text">{{ cookie }}</p>
					</div>
				</div>
			</div>

		</div>
	</div> <!-- CONTAINER --> 
